/* styles.css */

/* No @font-face declarations; rely on local fonts */

/* Layout Styles */
#ksy9x {
    --param_boolean_previewHover: false;
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;
}

#masterPage {
    --pinned-layers-in-page: 0;
}

[data-mesh-id=Containerksy9xinlineContent] {
    height: auto;
    width: 100%;
}

[data-mesh-id=Containerksy9xinlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 40px;
    grid-template-rows: repeat(3, min-content) 1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
    box-sizing: border-box;
}

[data-mesh-id=Containerksy9xinlineContent-gridContainer] > [id="comp-m8p56f0x1"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

[data-mesh-id=Containerksy9xinlineContent-gridContainer] > [id="comp-m8p56f1r1"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}

[data-mesh-id=Containerksy9xinlineContent-gridContainer] > [id="comp-m8p56f202"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}

[data-mesh-id=Containerksy9xinlineContent-gridContainer] > [id="comp-m8p56f2v2"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
    align-self: start;
}

#comp-m8p56f0x1 {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;
}

[data-mesh-id=comp-m8p56f0x1inlineContent] {
    height: auto;
    width: 100%;
}

[data-mesh-id=comp-m8p56f0x1inlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 956px;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;
}

[data-mesh-id=comp-m8p56f0x1inlineContent-gridContainer] > [id="comp-m8p56f103"] {
    position: relative;
    margin: 60px 0px 11px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

[data-mesh-id=comp-m8p56f0x1inlineContent-gridContainer] > [id="comp-m8p56f15"] {
    position: relative;
    margin: 0px 0px 34px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}

[data-mesh-id=comp-m8p56f0x1inlineContent-gridContainer] > [id="comp-m8p56f1c"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}

#comp-m8p56f103 {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 110px - 110px);
    min-width: 980px;
}

[data-mesh-id=comp-m8p56f12inlineContent] {
    height: auto;
    width: 100%;
}

[data-mesh-id=comp-m8p56f12inlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

[data-mesh-id=comp-m8p56f12inlineContent-gridContainer] > [id="comp-m8p56f124"] {
    position: relative;
    margin: 0px 0px 0px calc((100% - 980px) * 1);
    left: 650px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#comp-m8p56f12 {
    width: 980px;
}

#comp-m8p56f124 {
    --contentPaddingLeft: 0px;
    --contentPaddingRight: 0px;
    --contentPaddingTop: 0px;
    --contentPaddingBottom: 0px;
    width: 320px;
    height: 400px;
}

@media (prefers-reduced-motion: no-preference) {
    #comp-m8p56f124:not([data-motion-enter="done"]) {
        opacity: 0;
    }
}

#comp-m8p56f15 {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 110px - 110px);
    min-width: 980px;
}

[data-mesh-id=comp-m8p56f183inlineContent] {
    height: auto;
    width: 100%;
}

[data-mesh-id=comp-m8p56f183inlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

[data-mesh-id=comp-m8p56f183inlineContent-gridContainer] > [id="comp-m8p56f193"] {
    position: relative;
    margin: 0px 0px 0px calc((100% - 980px) * 0);
    left: 10px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#comp-m8p56f183 {
    width: 980px;
}

#comp-m8p56f193 {
    --backgroundColor: 0,0,0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    width: 940px;
    height: auto;
}

@media (prefers-reduced-motion: no-preference) {
    #comp-m8p56f193:not([data-motion-enter="done"]) {
        opacity: 0;
    }
}

#comp-m8p56f1c {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 110px - 110px);
    min-width: 980px;
}

[data-mesh-id=comp-m8p56f1d3inlineContent] {
    height: auto;
    width: 100%;
}

[data-mesh-id=comp-m8p56f1d3inlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;
}

[data-mesh-id=comp-m8p56f1d3inlineContent-gridContainer] > [id="comp-m8p56f1f"] {
    position: relative;
    margin: 0px 0px 34px calc((100% - 735px) * 0);
    left: 10px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

[data-mesh-id=comp-m8p56f1d3inlineContent-gridContainer] > [id="comp-m8p56f1g6"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 735px) * 0);
    left: 10px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}

[data-mesh-id=comp-m8p56f1d3inlineContent-gridContainer] > [id="comp-m8p56f1i1"] {
    position: relative;
    margin: 0px 0px 53px calc((100% - 735px) * 0);
    left: 10px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}

[data-mesh-id=comp-m8p56f1j7inlineContent] {
    height: auto;
    width: 100%;
}

[data-mesh-id=comp-m8p56f1j7inlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 221px;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

[data-mesh-id=comp-m8p56f1j7inlineContent-gridContainer] > [id="comp-m8p56f1m"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 245px) * 1);
    left: 75px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#comp-m8p56f1d3 {
    width: 735px;
}

#comp-m8p56f1f {
    --backgroundColor: 0,0,0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    width: 714px;
    height: auto;
}

@media (prefers-reduced-motion: no-preference) {
    #comp-m8p56f1f:not([data-motion-enter="done"]) {
        opacity: 0;
    }
}

#comp-m8p56f1g6 {
    --backgroundColor: 0,0,0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    width: 714px;
    height: auto;
}

@media (prefers-reduced-motion: no-preference) {
    #comp-m8p56f1g6:not([data-motion-enter="done"]) {
        opacity: 0;
    }
}

#comp-m8p56f1i1 {
    --backgroundColor: 0,0,0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    width: 714px;
    height: auto;
}

@media (prefers-reduced-motion: no-preference) {
    #comp-m8p56f1i1:not([data-motion-enter="done"]) {
        opacity: 0;
    }
}

#comp-m8p56f1j7 {
    width: 245px;
}

#comp-m8p56f1m {
    --rd: 50px 50px 50px 50px;
    --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    --shd: none;
    --fnt: normal normal normal 16px/1.5em Calibri, Arial, sans-serif;
    --trans2: color 0.4s ease 0s;
    --txt: var(--color_50);
    --brw: 1px;
    --bg: var(--color_48);
    --brd: var(--color_49);
    --bgh: var(--color_51);
    --brdh: var(--color_52);
    --txth: var(--color_53);
    --bgd: 204,204,204;
    --alpha-bgd: 1;
    --brdd: 204,204,204;
    --alpha-brdd: 1;
    --txtd: 255,255,255;
    --alpha-txtd: 1;
    --alpha-txth: 1;
    --alpha-brdh: 1;
    --alpha-brd: 1;
    --alpha-bg: 1;
    --alpha-bgh: 1;
    --boxShadowToggleOn-shd: none;
    --alpha-txt: 1;
    width: 160px;
    height: 48px;
}

@media (prefers-reduced-motion: no-preference) {
    #comp-m8p56f1m:not([data-motion-enter="done"]) {
        opacity: 0;
    }
}

#comp-m8p56f1r1 {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;
}

[data-mesh-id=comp-m8p56f1r1inlineContent] {
    height: auto;
    width: 100%;
}

[data-mesh-id=comp-m8p56f1r1inlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;
}

[data-mesh-id=comp-m8p56f1r1inlineContent-gridContainer] > [id="comp-m8p56f1s1"] {
    position: relative;
    margin: 67px 0px 39px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

[data-mesh-id=comp-m8p56f1r1inlineContent-gridContainer] > [id="comp-m8p56f1w4"] {
    position: relative;
    margin: 0px 120px 39px 120px;
    left: 0;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: stretch;
    align-self: start;
}

[data-mesh-id=comp-m8p56f1r1inlineContent-gridContainer] > [id="comp-m8p56f1y6"] {
    position: relative;
    margin: 0px 120px 56px 120px;
    left: 0;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: stretch;
    align-self: start;
}

#comp-m8p56f1s1 {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 110px - 110px);
    min-width: 980px;
}

[data-mesh-id=comp-m8p56f1t3inlineContent] {
    height: auto;
    width: 100%;
}

[data-mesh-id=comp-m8p56f1t3inlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

[data-mesh-id=comp-m8p56f1t3inlineContent-gridContainer] > [id="comp-m8p56f1u3"] {
    position: relative;
    margin: 0px 0px 0px calc((100% - 980px) * 0);
    left: 8px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#comp-m8p56f1t3 {
    width: 980px;
}

#comp-m8p56f1u3 {
    --backgroundColor: 0,0,0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    width: 964px;
    height: auto;
}

@media (prefers-reduced-motion: no-preference) {
    #comp-m8p56f1u3:not([data-motion-enter="done"]) {
        opacity: 0;
    }
}

#comp-m8p56f1w4 {
    --lnw: 1px;
    --brd: var(--color_47);
    --alpha-brd: 1;
    width: calc(100% - 120px - 120px);
    left: 0;
    margin-left: 120px;
    min-width: initial;
    height: 1px;
}

@media (prefers-reduced-motion: no-preference) {
    #comp-m8p56f1w4:not([data-motion-enter="done"]) {
        opacity: 0;
    }
}

#comp-m8p56f1y6 {
    width: calc(100% - 120px - 120px);
    left: 0;
    margin-left: 120px;
    min-width: initial;
    height: 394px;
}
